.App {
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: lightblue;
  height: 10vh;
  color: white;
}
.nav-links{
width: 50%;
display: flex;
justify-content: space-around;
align-items: center;
list-style: none;
cursor: pointer;
}
.nav-link{
  cursor:pointer;
  list-style: none;
}